* {
  margin: 0 auto;
  padding: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

header {
  width: 95%; }

strong {
  font-weight: 800;
  color: #FFF; }

.full-wrapper {
  width: 100%; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after, .clearfix:after {
  clear: both; }

.menu__button--open img {
  margin: 10px 2px;
  float: right;
  width: 5%; }
  @media only screen and (min-width: 600px) {
    .menu__button--open img {
      width: 2%; } }

.menu__button--close img {
  padding: 1.5rem 1rem;
  position: absolute;
  right: 13px;
  top: 0;
  width: 9%; }
  @media only screen and (min-width: 600px) {
    .menu__button--close img {
      padding: 2rem 5rem;
      right: -15px; } }

.scroll-downs {
  bottom: 0.8rem;
  height: 55px;
  left: 45%;
  margin: auto;
  position: absolute;
  width: 34px; }

.mousey {
  border: 1.4px solid #fff;
  border-radius: 25px;
  height: 30px;
  padding: 0.1rem 0.9rem;
  width: 1px; }

.scroller {
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
  background-color: #fff;
  border-radius: 25%;
  height: 5px;
  width: 1px; }

@keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(15px);
    opacity: 0; } }
.header-inner {
  padding: 0.25em 2rem; }

.site-header {
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
  position: fixed;
  top: 0rem;
  width: 100%;
  z-index: 1; }

.intro-container {
  align-items: center;
  background-color: #F3C12E;
  display: flex;
  height: 100vh;
  justify-content: center; }
  .intro-container img {
    max-width: 100%;
    opacity: 0.7; }

@media only screen and (min-width: 600px) {
  .l-vertical {
    display: flex;
    align-items: center;
    justify-content: center; } }

.l-vertical-item {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50vh; }

.l-vertical-item-top {
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  background-size: 12px; }
  .l-vertical-item-top h1 {
    border-top: 3px solid #A9A9A9;
    font-family: "Lalezar", cursive;
    font-size: 3.6rem;
    letter-spacing: 5px;
    line-height: 110%;
    text-align: right;
    text-transform: uppercase; }
    .l-vertical-item-top h1::after {
      color: #A9A9A9;
      content: "."; }
  .l-vertical-item-top img {
    opacity: 0.5; }

.l-vertical-item-bottom {
  background-color: #F15B55; }
  .l-vertical-item-bottom p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; }

.l-vertical-item-content {
  font-family: "Montserrat", sans-serif;
  width: 80%; }
  .l-vertical-item-content h2 {
    font-size: 3.6rem;
    padding: 0 0 30px 0; }

.logo {
  border: none;
  float: left;
  margin: 10px 12px;
  width: 16%; }

.menu-container {
  display: none;
  background: #000;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  top: 0;
  right: 0;
  left: 0; }

.menu-container--on {
  width: 90%; }

.menu-container--in {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }
  .menu-container--in ul {
    list-style-type: none; }
  .menu-container--in a {
    text-decoration: none;
    color: #FFF; }

.menu li {
  display: table;
  line-height: 3; }
.menu a {
  letter-spacing: 4px;
  text-transform: uppercase;
  display: inline-block; }
  .menu a:hover {
    color: #F15B55;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }

.social-container {
  margin-top: 72px;
  text-align: center; }
  .social-container li {
    display: inline;
    padding: 2rem; }
  .social-container a {
    display: inline-block; }
    .social-container a:hover {
      color: #F15B55;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }

/*# sourceMappingURL=styles.css.map */
