.contact {

	h1::after {
        content: "keylinherreraesq@gmail.com";
        display: block;
        font-family: $font-family-text;
        font-size: 1rem;
        padding: 3rem 0 0;
    }

	p {
		text-align: center;
		color: $white;
	}

	.fa {
		color: $white;
		font-size: $font-size-regular;

		&:hover {
			color: $yellow;
		}
	}
}