* {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    width: 95%;
}

strong {
    font-weight: 800;
    color: $color-text-accent;
}

.full-wrapper {
    width: 100%;
}
