.menu__button--open {

    img {

        margin: 10px 2px;
        float: right;
        width: 5%;
        
        @include query(600px){
            
            width: 2%;

        }
    }
}

.menu__button--close {

    img  {
        
        padding: 1.5rem 1rem;
        position: absolute;
        right: 13px;
        top: 0;
        width: 9%;

        @include query(600px){

            padding: 2rem 5rem;
            right: -15px;
            

        }
    }

}