h1 {
    color: $color-tittles;
    font-family: $font-family-tittle;
    font-size: 5.3rem;
    letter-spacing: 5px;
    line-height: 70%;
    text-align: left;
    text-transform: uppercase;

    @include query(600px){
        font-size: $font-size-xx-large;
    }
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: $font-size-regular;
}

h2,
h3,
h4 {
    font-family: $font-family-text;
    display: inline-block;
}

h1,
h2,
h3,
h4,
p {
    margin: 0 0 $space-x-small;
}

p {
    font-family: $font-family-text;
    font-size: $font-size-small;
}
