//Font Family
$font-family-tittle: 'Lalezar', cursive;
$font-family-text: 'Muli', sans-serif;;
$font-family-anchor: 'Libre Baskerville', serif;

//Font Size
$font-size-small: 1.5rem;
$font-size-regular: 1.8rem;
$font-size-large: 2.4rem;
$font-size-x-large: 3.6rem;
$font-size-xx-large: 6.3rem;
$font-size-xxx-large: 11.6rem;

//Font Weights
$font-weight-light: 200;
$font-weight-regular: 500;
$font-weight-bold: 900; 

//Colors
$yellow: #F3C12E;
$salmon: #F15B55;
$white: #FFF;
$black: #000;

$color-background: $white;
$color-tittles: $black;
$color-text: #606060;
$color-text-invert: $black;
$color-text-accent: $white;
$color-border: #A9A9A9;

//Spaces
$space-xxx-small: 1.0rem;
$space-xx-small: 2.0rem;
$space-x-small: 3.0rem;
$space-small: 4.0rem;
$space-regular: 6.0rem;
$space-large: 10.0rem;
$space-x-large: 14.0rem;
$space-xx-large: 16.0rem;
$space-xxx-large: 18.0rem;

//Resolutions
$mobile-small: 240px;
$mobile-large: 340px;
$tablet-small: 480px;
$tablet-large: 768px;
$screen-small: 1024px;
$screen-large: 1280px;